body {background-color: beige;}

p{background-color: aquamarine;}


/*  este es un selector de clase     */
.informacion{color:red;background-color: yellow; }

/*selector de id*/
#titulo {color: white;background-color: red;

#cintafecha {background-color:black;color: white;}



}
    
header{background-color: rgb(207, 207, 223); 







